<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile: {{ user.name }}</title>
      <style>
        h1,h3 {
            color: grey;
        }
        .profile{
            background-color: bisque;
            margin: 10px;
            padding: 10px;
        }
        li{
            padding: 10px;
        }
    </style>
</head>
<body>
    <h1>Profile</h1>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="#">News</a></li>
    </ul>
      <div class="profile">
        <h3>Hello {{ user.name }}</h3>
        <p>Nikname: {{ user.nikname }}</p>
        <p>Age: {{ user.age }}</p>

    </div>
</body>
</html>